[submodule "circt"]
    path = circt
    url = https://github.com/llvm/circt.git
    shallow = true
    branch = main
[submodule "docs/themes/hugo-book"]
	path = docs/hugo/themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
